/Ejer15/nbproject/private/
/Ejer15/build/
/Ejer16/nbproject/private/
/Ejer16/build/
/Ejer17/nbproject/private/
/Ejer17/build/
/Ejer18/nbproject/private/
/Ejer18/build/
/MatrizMagina/nbproject/private/
/Extra2/nbproject/private/
/Extra2/build/
/SopaDeLetras/nbproject/private/
/SopaDeLetras/build/
/Extra7/nbproject/private/
/Extra7/build/